<?xml version="1.0" encoding="utf-8"?>
<settings version="1">
  <section id="plugin.video.videoland.nl">
    <category id="account" label="31000">
      <group id="1">
        <setting id="clear_login" type="action" label="31006" help="31007">
          <level>0</level>
          <default>plugin://plugin.video.videoland.nl/?action=logout</default>
          <control type="button" format="action">
            <close>true</close>
          </control>
        </setting>
        <setting id="auth_json" type="string" label="31003">
          <level>4</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <control type="edit" format="string"><hidden>true</hidden></control>
        </setting>
        <setting id="secret_json" type="string" label="31003">
          <level>4</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <control type="edit" format="string"><hidden>true</hidden></control>
        </setting>
        <setting id="profile_id" type="string" label="31004">
          <level>4</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <control type="edit" format="string"><hidden>true</hidden></control>
        </setting>
        <setting id="profile_name" type="string" label="31066">
          <level>4</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <control type="edit" format="string"><hidden>true</hidden></control>
        </setting>
        <setting id="device_id" type="string" label="31005">
          <level>4</level>
          <default></default>
          <constraints><allowempty>true</allowempty></constraints>
          <control type="edit" format="string"><hidden>true</hidden></control>
        </setting>
        <setting id="loading_notice_shown" type="string" label="31009">
          <level>4</level>
          <default>false</default>
          <control type="edit" format="string"><hidden>true</hidden></control>
        </setting>
      </group>
    </category>
    <category id="history" label="31090">
      <group id="1">
        <setting id="history_source" type="string" label="31091" help="31092">
          <level>0</level>
          <default>cloud</default>
          <constraints><options>
            <option label="31093">cloud</option>
            <option label="31094">local</option>
          </options></constraints>
          <control type="spinner" format="string"/>
        </setting>
      </group>
      <group id="2" label="31095">
        <setting id="sync_progress" type="boolean" label="31040" help="31041">
          <level>0</level>
          <dependencies><dependency type="enable" setting="history_source" operator="is">cloud</dependency></dependencies>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="sync_notifications" type="boolean" label="31042" help="31043" parent="sync_progress">
          <level>0</level>
          <default>false</default>
          <dependencies>
            <dependency type="enable"><and>
              <condition setting="history_source" operator="is">cloud</condition>
              <condition setting="sync_progress" operator="is">true</condition>
            </and></dependency>
          </dependencies>
          <control type="toggle"/>
        </setting>
        <setting id="sync_status" type="action" label="31062" help="31063">
          <level>0</level>
          <dependencies><dependency type="enable" setting="history_source" operator="is">cloud</dependency></dependencies>
          <data>RunPlugin(plugin://plugin.video.videoland.nl/?action=sync_status)</data>
          <control type="button" format="action"><close>false</close></control>
        </setting>
      </group>
    </category>
    <category id="playback" label="31010">
      <group id="1">
        <setting id="preferred_quality" type="integer" label="31011" help="31012">
          <level>0</level>
          <default>1</default>
          <constraints>
            <minimum>0</minimum>
            <maximum>1</maximum>
            <step>1</step>
            <options>
              <option label="31013">0</option>
              <option label="31014">1</option>
            </options>
          </constraints>
          <control type="spinner" format="string"/>
        </setting>
      </group>
    </category>
    <category id="cache" label="31020">
      <group id="1">
        <setting id="use_cache" type="boolean" label="31021" help="31022">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        <setting id="cache_ttl" type="integer" label="31023" help="31024">
          <level>0</level>
          <default>0</default>
          <constraints>
            <minimum>0</minimum>
            <maximum>4</maximum>
            <step>1</step>
            <options>
              <option label="31025">0</option>
              <option label="31026">1</option>
              <option label="31027">2</option>
              <option label="31028">3</option>
              <option label="31029">4</option>
            </options>
          </constraints>
          <control type="spinner" format="string"/>
        </setting>
        <setting id="clear_cache" type="action" label="31030" help="31031">
          <level>0</level>
          <data>RunPlugin(plugin://plugin.video.videoland.nl/?action=clear_cache&amp;refresh=false)</data>
          <control type="button" format="action">
            <close>false</close>
          </control>
        </setting>
      </group>
    </category>
  </section>
</settings>
